<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User story manager</title>
</head>

<body>
    <h1>User Story Manager - Add new Story</h1>
    <form action="/save" method="post">
    <h4>Story title:</h4><br><input type="text" name="story_title"> <br>
    <h4>User story:</h4><br><input type="text" name="user_story" ><br>
    <h4>Acceptance criteria:</h4><br><input type="text" name="criteria"><br>
    <h4>Buisness value:</h4><br><input type="number" name="business_value" step="100" min="100" max="1500"><br>
    <h4>Estimation time (h):</h4><br><input type="number" name="estimation_time" step="0.5" min="0.5" max="40"><br>
    <select name="status">
        <option value="planning">Planning</option>
        <option value="todo">To do</option>
        <option value="inprogress">In progress</option>
        <option value="review">Review</option>
        <option value="done">Done</option>
    </select>
    <br>
    <input type="submit" value="Save">
</form>


</body>

</html>
