<!DOCTYPE html>

<html lang="en">

<style>
body {
    text-align: center;
    width: 400px;

    border: 5px solid black;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>User story manager</title>
</head>

<body>
    <h2>User story manager</h2>
    <form method="post">
    <h3>{{ title }}</h4>
    <h4>Story title:</h4><p><textarea name="story_title" size="5">{{user_story.story_title}}</textarea></p>
    <h4>User story:</h4><p><textarea name="user_story" size="50">{{user_story.user_story}}</textarea><p>
    <h4>Acceptance criteria:</h4><p><textarea name="criteria" size="50">{{user_story.criteria}}</textarea></p>
    <h4>Buisness value:</h4><p><input type="number" name="business_value" value={{user_story.business_value}} step="100" min="100" max="1500"></p>
    <h4>Estimation time (h):</h4><br><input type="number" name="estimation_time"  value={{user_story.estimation_time}} step="0.5" min="0.5" max="40">
    <h4>Status</h4>
    <select name="status" value={{user_story.status}}>
        <option value="Planning">Planning</option>
        <option value="To do">To do</option>
        <option value="In progress">In progress</option>
        <option value="Review">Review</option>
        <option value="Done">Done</option>
    </select>
    <p>
    <button type="submit">Save</button>
    </p>
    </form>
</body>

</html>
